<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae numquam officia corporis pariatur! Voluptatem fugiat commodi odit illo voluptas! Doloribus sunt, officiis labore blanditiis debitis aut voluptas ad tenetur dolore?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (45) 3456-4567</li>
                <li><i class="fa-brands fa-whatsapp"></i> (45) 3456-4567</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados 
    </section>
</footer>